<!DOCTYPE html>
<html>
<head>
  <title>MadekZhdkIntegration</title>
  <%= stylesheet_link_tag    "madek_zhdk_integration/application", media: "all" %>
  <%= javascript_include_tag "madek_zhdk_integration/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
