#zhdk-user.tab-pane.active
  %form
    .form-body
      .ui-form-group.rowed
        %p.mbm Alle Funktionen nutzen und auf <br/> mehr Inhalte zugreifen.
        %a#zhdk-login-link.primary-button.block.large{href: login_path}
          = _("Log in")
